@import url('https://fonts.cdnfonts.com/css/cascadia-code');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cascadia Code', sans-serif;
}

.page-padding {
  padding-left: 6.25em;
  padding-right: 6.25em;
}

@media screen and (max-width: 576px) {
  .page-padding {
    padding-left: 2em;
    padding-right: 2em;
  }
}

.text-smaller {
  font-size: 0.9rem;
}

.feeds-panel {
  height: 500px;
  overflow: scroll;
}

nav {
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3f51b5;
  box-shadow: 0 5px 10px #ccc;
}

/* Basic styles for nav links */
nav a {
  display: flex;
  align-items: center;
  /* align-items: stretch; */
  padding-left: 30px;
  padding-right: 30px;
  height: 100%;
  text-decoration: none;
}

/* Specific styles for non-active links */
.link {
  color: black;
}

/* Specific styles for active links */
.link-active {
  color: black;
  background: orange;
  border-radius: 5px;
}

.content {
  margin-top: 50px;
  text-align: center;
}